<head>
    <title>Universal Guesser</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <script>
    let state = {
        status: "start",
        features: {}
    };

    $("document").ready(e => {
        renderState();
    });

    function renderState() {
        $("#root").remove();
        let root = $('<div id="root"></div>');

        if ('message' in state) {
            root.append($('<p></p>').text(state.message));
        }
        if (state.status === "start") {
            root.append($('<button id="start"></button>').text('New game'))
        } else if (state.status === "playing") {
            root.append($('<p></p>').text(state.currentQuestion));
            for (let i = 0; i < state.currentValues.length; ++i) {
                root.append($(`<button id="${state.currentValues[i]}"></button>`).text(state.currentReprs[i]));
            }
        } else if (state.status === 'win') {
            root.append($(`<img width=400 height=400 src="/get-picture?name=${state['result']}"></img>`))
        }

        $('body').append(root);
        setButtonsBehaviour();
    }

    function getNextState() {
        $.ajax({
            url: "/get-next-state",
            method: "POST",
            data: JSON.stringify(state),
            contentType: "application/json; charset=utf-8",
            success: newState => {
                state = JSON.parse(newState);
                renderState();
            }
        });
    }

    function setButtonsBehaviour() {
        $("button").click(e => {
            answer = e.target.id;
            if (answer === "start") {
                getNextState();
            } else {
                state.features[state.currentFeature] = answer;
                getNextState();
            }
        });
    }

    </script>
</body>
